<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysInvestTxRecordMapper">
    
    <resultMap type="SysInvestTxRecord" id="SysInvestTxRecordResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="order_id"    />
        <result property="txType"    column="tx_type"    />
        <result property="txAddress"    column="tx_address"    />
        <result property="txValue"    column="tx_value"    />
        <result property="txToken"    column="tx_token"    />
        <result property="txStatus"    column="tx_status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSysInvestTxRecordVo">
        select id, order_id, tx_type, tx_address, tx_value, tx_token, tx_status, create_time, update_time from sys_invest_tx_record
    </sql>

    <select id="selectSysInvestTxRecordList" parameterType="SysInvestTxRecord" resultMap="SysInvestTxRecordResult">
        <include refid="selectSysInvestTxRecordVo"/>
        <where>  
            <if test="orderId != null  and orderId != ''"> and order_id = #{orderId}</if>
            <if test="txType != null  and txType != ''"> and tx_type = #{txType}</if>
            <if test="txAddress != null  and txAddress != ''"> and tx_address = #{txAddress}</if>
            <if test="txValue != null "> and tx_value = #{txValue}</if>
            <if test="txToken != null  and txToken != ''"> and tx_token = #{txToken}</if>
            <if test="txStatus != null "> and tx_status = #{txStatus}</if>
        </where>
    </select>
    
    <select id="selectSysInvestTxRecordById" parameterType="Long" resultMap="SysInvestTxRecordResult">
        <include refid="selectSysInvestTxRecordVo"/>
        where id = #{id}
    </select>

    <insert id="insertSysInvestTxRecord" parameterType="SysInvestTxRecord" useGeneratedKeys="true" keyProperty="id">
        insert into sys_invest_tx_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">order_id,</if>
            <if test="txType != null">tx_type,</if>
            <if test="txAddress != null">tx_address,</if>
            <if test="txValue != null">tx_value,</if>
            <if test="txToken != null">tx_token,</if>
            <if test="txStatus != null">tx_status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">#{orderId},</if>
            <if test="txType != null">#{txType},</if>
            <if test="txAddress != null">#{txAddress},</if>
            <if test="txValue != null">#{txValue},</if>
            <if test="txToken != null">#{txToken},</if>
            <if test="txStatus != null">#{txStatus},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSysInvestTxRecord" parameterType="SysInvestTxRecord">
        update sys_invest_tx_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="txType != null">tx_type = #{txType},</if>
            <if test="txAddress != null">tx_address = #{txAddress},</if>
            <if test="txValue != null">tx_value = #{txValue},</if>
            <if test="txToken != null">tx_token = #{txToken},</if>
            <if test="txStatus != null">tx_status = #{txStatus},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysInvestTxRecordById" parameterType="Long">
        delete from sys_invest_tx_record where id = #{id}
    </delete>

    <delete id="deleteSysInvestTxRecordByIds" parameterType="String">
        delete from sys_invest_tx_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>